* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--ff-primary);
  color: var(--text-color);
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --text-color: #e1e1e6;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background: black;
  margin: 12rem 16rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  background: #065e7c;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  padding: 1.2rem 3.2rem;

  color: var(--text-color);
  font-weight: 700;
}

button:hover {
  color: #065e7c;
  background: white;
}

button:hover svg {
  fill: #065e7c;
}

svg {
  fill: white;
}

input {
  padding: 1.6rem;

  font-size: 1.6rem;
  border-radius: 5px;
  border: none;
  background: #06181c;

  width: 25vw;

  color: var(--text-color);
}

main {
  margin-top: 8.7rem;
}

table {
  overflow: hidden;
  border-collapse: separate;
  width: 100%;

  border: 1px solid #114150;
  border-spacing: 0;
  border-radius: 1rem;

  background: rgba(6, 22, 27, 0.5);
}

table * {
  font-size: 2rem;
}

table th {
  background-color: #092d38;
  padding: 1.6rem 4.6rem;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4rem;

  height: 53vh;

  color: #4e5455;

  font-weight: 700;
  font-size: 4.0rem;
}
